.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  right: 0;
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
  z-index: 1;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
  transition: 0.3s;
}

.user-dropdown-divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: #a2a2a2;
}
