.icon-nav {
  padding: 10px;
  transition: 0.3s;
  color: #606060;
}
.icon-nav:hover {
  color: #cb0c9f;
  transition: 0.3s;
}
.icon-nav:active {
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s;
  color: #363b64;
  background: rgba(0, 0, 0, 0.16);
}
.icon-nav-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.side-nav-open {
  margin-top: 70px;
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #ffff;
  border-right: 2px solid rgba(0, 0, 0, 0.075);
  scrollbar-color: #cccccc #f5f5f5;
  scrollbar-width: thin;
}
.side-nav-close {
  padding-top: 70px;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #ffff;
  border-right: 1px solid rgba(0, 0, 0, 0.075);
}

.side-nav-close::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.side-nav-open::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
}
.side-nav-open::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border-radius: 4px;
  background: #cccccc;
}
.side-nav-close::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.side-nav-close::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
}
.side-nav-close::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border-radius: 4px;
  background: #cccccc;
}

.content {
  transition: 0.3s;
  margin-top: 80px;
  margin-left: 265px;
}
.content-expanded {
  margin-top: 80px;
  transition: 0.3s;
  margin-left: 0;
}
.nav-logo {
  width: auto;
  height: 40px;
}

.side-bar-item {
  display: inline-block;
  padding: 12px 5px 12px 5px;
  width: 100% !important;
}
.side-bar-item:hover {
  border-left: 4px solid #cb0c9f;
  transition: 0.1s;
  background: #f3d9ec;
  border-radius: 3px;
}

.side-bar-item:hover .side-bar-item-icon {
  color: #cb0c9f;
  font-weight: 600;
  transition: all 0.1s;
}
.side-bar-item:hover .side-bar-item-caption {
  color: #cb0c9f;
  font-weight: 600;
  transition: all 0.1s;
}

.side-bar-item-active {
  border-left: 4px solid #cb0c9f;
  background: #f3d9ec;
}
.side-bar-item-icon {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  color: #363b64;
}

.side-bar-item-caption {
  font-family: "Poppins", sans-serif !important;
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  color: #363b64;
}

/* Responsive Styles */
@media (max-width: 339.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expanded {
    margin-left: 180px;
    width: 100%;
  }
}

@media (max-width: 360.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expanded {
    margin-left: 180px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expanded {
    margin-left: 180px;
    width: 100%;
  }
}
