/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./dropdownmenu.css";
@import "./progress.css";
@import "./sidebar.css";
@import "./sidebar.css";

:root {
  --color-primary: #cb0c9f;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f8f8;
  font-size: 16px;

  color: #212529;
}

.d-none {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
textarea,
input,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}
.task-card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}
p {
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}

body a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.custom-btn-primary {
  background: var(--color-primary) !important;
  font-weight: 600 !important;
  margin: 16px 0 16px;
  color: #f9f8f8 !important;
  font-weight: 600 !important;
}
.swal2-styled:focus {
  box-shadow: none !important;
}

/* optional  */

/* Smooth fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
