@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f8f8;
  font-size: 14px;

  color: #212529;
}

.d-none {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
textarea,
input,
select {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.swal2-styled:focus {
  box-shadow: none !important;
}

@import "sidebar.css";
@import "progress.css";
@import "dropdownmenu.css";
